* {
  margin: 0;
  padding: 0;
}
/*style barre de navigation*/
.nav {
  background-color: #333333;
  color: #ffffff;
  height: 80px;
  width: auto; /* for styling purposes */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  margin-left: 150px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}
.btn {
  height: 35px;
  width: 100px;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  font-size: 16px;
  box-shadow: 5px 5px #000000;
  left: 30px;
}
.nav-title {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*style user card*/
.flex-container {
  width: 500px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card {
  height: 400px;
  width: 100%;
  background-color: #fff;
  border: 2px solid #999;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  overflow: hidden;
}

.card-header {
  background-color: #17a2b8;
  height: 80px;
  margin-bottom: 70px;
}

.card-body {
  padding: 20px;
}

.card-body h1,
.card-body h2,
.card-body h3,
.card-body p {
  margin: 20px 0px;
}

.avatar-m {
  border-radius: 50%;
  background-color: #fff;
  height: 150px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
}

.icon-s {
  height: 20px;
}

a {
  color: #3a81e6;
}
#img {
  width: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
}
/*bloc connection requests*/
.todd {
  width: 100px;
  display: flex;
  align-items: center;
}
.containerconnection {
  width: 320px;
  display: flex;
  justify-content: space-between;
}
.blocconnect {
  border: 2px solid grey;
}
.request {
  color: white;
  background-color: #333333;
  width: 320px;
  text-align: center;
}
.connectionrequest {
  width: 320px;
  display: block;
}
/*bloc Your connection*/
.freindconnect {
  width: 110px;
  display: flex;
  align-items: center;
  
}
.freinds {
  width: 320px;
  display: block;
  align-content: space-between;
  border: 2px solid grey;
}
.view {
  border: 2px solid grey;
  width: 320px;
  height: 30px;
}
.view a {
  margin: 30px;
}
.blocyourconnection {
 
  color: white;
  background-color: #333333;
  width: 324px;
  text-align: center;
}
.blocgenerelyourconnection {
  width: 320px;
}
/*bloc education*/
#style {
  color: #999;
}
.Education {
  width: 500px;
  display: block;
}
.titleeducation {
  color: white;
  background-color: #333333;
  width: 500px;
 
}
.titleeducation  h2{
  margin-left: 40px;
}
.containeducation {
  border: 2px solid grey;
}
/*column 1 contain style userd card and bloc education 
column 2 contain bloc your connections and connections requests
containpage contain column 1 and column2*/
/*arrange blocs in  contain page*/
.containpage {
  margin-top: 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.column2 {
  
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.column1{
  width: 500px;
}
