#b2{
  border-radius: 50%;
  background-color: aqua;
  border: none;
  color: white;
  padding: 10px ;
  margin: 10px;
}
#b1{
  
  background-color: white;
  color: aqua;
  border: 2px solid aqua;
  border-radius: 15px;
  padding: 8px 30px;
  margin: 10px;
}
#b3{
  background-color: blue;
  color: white;
  box-shadow: 2px 5px 5px black ;
  margin: 10px;
  padding: 10px 20px ;
}
#div1{
  margin: 30px 50px;
}